<p id="notice"><%= notice %></p>

<% content_for :page_title, 'Situações' %>

<div class="pull-right">
  <%= link_to_new new_situation_path %>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Plant</th>
      <th>Description</th>
      <th>Spectrum</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @situations.each do |situation| %>
      <tr>
        <td><%= situation.plant %></td>
        <td><%= situation.description %></td>
        <td><%= situation.spectrum %></td>
        <td><%= link_to 'Show', situation %></td>
        <td><%= link_to 'Edit', edit_situation_path(situation) %></td>
        <td><%= link_to 'Destroy', situation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
