<p id="notice"><%= notice %></p>

<% content_for :page_title, 'Plantas' %>

<div class="pull-right">
  <%= link_to_new new_plant_path %>
</div>

<table class="table">
  <thead>
    <tr>
      <th class="col-md-10">Name</th>
      <th class="col-md-2"></th>
    </tr>
  </thead>

  <tbody>
    <% @plants.each do |plant| %>
      <tr>
        <td><%= plant.name %></td>
        <td>
          <%= link_to 'Show', plant %> |
          <%= link_to 'Edit', edit_plant_path(plant) %> |
          <%= link_to 'Destroy', plant, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
