<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form floating-label" }) do |f| %>

  <div class="form-group">
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
    <%= f.label :email %>
  </div>

  <div class="form-group">
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
    <%= f.label :password %>
   <!--  <p class="help-block"><%= link_to "Esqueceu?", new_user_password_path(resource_name) %></p> -->
  </div>

  <br/>
  <div class="row">
    <div class="col-xs-12 text-right">
      <%= f.button :submit, "Entrar", class: "btn btn-primary btn-raised" %>
    </div><!--end .col -->
  </div><!--end .row -->
<% end %>

