<div class="row">
  <div class="text-center">
    <h2>Seja bem vindo ao Produs.</h2>
  </div>

  <hr>

  <!-- BEGIN ALERT - ROI -->
  <div class="col-md-3 col-sm-6">
    <div class="card">
      <div class="card-body no-padding">
        <%= @concentrations.inspect %>
        <div class="alert alert-callout alert-info no-margin">
          <strong class="pull-right text-success text-lg">
            0,38% <%= material_icon.trending_up %>
          </strong>
          <strong class="text-xl">$ 32,829</strong><br/>
          <span class="opacity-50">ROI</span>
          <div class="stick-bottom-left-right">
            <div class="height-2 sparkline-revenue" data-line-color="#bdc1c1"></div>
          </div>
        </div>
      </div><!--end .card-body -->
    </div><!--end .card -->
  </div><!--end .col -->
  <!-- END ALERT - ROI -->

  <!-- BEGIN ALERT - Uvas -->
  <div class="col-md-3 col-sm-6">
    <div class="card">
      <div class="card-body no-padding">
        <div class="alert alert-callout alert-warning no-margin">
          <strong class="pull-right text-warning text-lg">
            0,01% <%= material_icon.swap_vert %>
          </strong>
          <strong class="text-xl">300.000</strong><br/>
          <span class="opacity-50">Uvas por hectare</span>
          <div class="stick-bottom-right">
            <div class="height-1 sparkline-visits" data-bar-color="#e5e6e6"></div>
          </div>
        </div>
      </div><!--end .card-body -->
    </div><!--end .card -->
  </div><!--end .col -->
  <!-- END ALERT - UVAS -->

  <!-- BEGIN ALERT - BOUNCE RATES -->
  <div class="col-md-3 col-sm-6">
    <div class="card">
      <div class="card-body no-padding">
        <div class="alert alert-callout alert-danger no-margin">
          <strong class="pull-right text-danger text-lg">
            0,18% <%= material_icon.trending_down %>
          </strong>
          <strong class="text-xl">42.90%</strong><br/>
          <span class="opacity-50">Despesas</span>
          <div class="stick-bottom-left-right">
            <div class="progress progress-hairline no-margin">
              <div class="progress-bar progress-bar-danger" style="width:43%"></div>
            </div>
          </div>
        </div>
      </div><!--end .card-body -->
    </div><!--end .card -->
  </div><!--end .col -->
  <!-- END ALERT - BOUNCE RATES -->

  <!-- BEGIN ALERT - RECEITA -->
  <div class="col-md-3 col-sm-6">
    <div class="card">
      <div class="card-body no-padding">
        <div class="alert alert-callout alert-info no-margin">
          <strong class="pull-right text-success text-lg">
            24% <%= material_icon.trending_up %>
          </strong>
          <strong class="text-xl">$ 320,829</strong><br/>
          <span class="opacity-50">Receitas</span>
          <div class="stick-bottom-left-right">
            <div class="height-2 sparkline-revenue" data-line-color="#bdc1c1"></div>
          </div>
        </div>
      </div><!--end .card-body -->
    </div><!--end .card -->
  </div><!--end .col -->
  <!-- END ALERT - RECEITA -->

</div><!--end .row -->

<div class="row">

  <!-- BEGIN SITE ACTIVITY -->
  <div class="col-md-9">
    <div class="card ">
      <div class="row">
        <div class="col-md-8">
          <div class="card-head">
            <header>IBN - Índice de balanço nutricional </header>
          </div><!--end .card-head -->
          <div class="card-body height-8">
            <div id="flot-visitors-legend" class="flot-legend-horizontal stick-top-right no-y-padding"></div>
            <div id="flot-visitors" class="flot height-7" data-title="IBN" data-color="#7dd8d2,#0aa89e"></div>
          </div><!--end .card-body -->
        </div><!--end .col -->
        <div class="col-md-4">
          <div class="card-head">
            <header>Status hoje por hectare</header>
          </div>
          <div class="card-body height-8">
            <strong>214</strong> Uvas sadias
            <span class="pull-right text-success text-sm">
              0,18% <%= material_icon.trending_up %></span>
            <div class="progress progress-hairline">
              <div class="progress-bar progress-bar-primary-dark" style="width:43%"></div>
            </div>
            756 Prontas para colheita
            <span class="pull-right text-success text-sm">0,68% <%= material_icon.trending_up %></span>
            <div class="progress progress-hairline">
              <div class="progress-bar progress-bar-primary-dark" style="width:11%"></div>
            </div>
            291 Uvas doentes
            <span class="pull-right text-danger text-sm">21,08% <%= material_icon.trending_down %></span>
            <div class="progress progress-hairline">
              <div class="progress-bar progress-bar-danger" style="width:93%"></div>
            </div>
            32,301 Uvas em entressafra
            <span class="pull-right text-success text-sm">0,18% <%= material_icon.trending_up %></span>
            <div class="progress progress-hairline">
              <div class="progress-bar progress-bar-primary-dark" style="width:63%"></div>
            </div>
            132 Uvas em plantio
            <span class="pull-right text-success text-sm">0,18% <%= material_icon.trending_up %></span>
            <div class="progress progress-hairline">
              <div class="progress-bar progress-bar-primary-dark" style="width:47%"></div>
            </div>
          </div><!--end .card-body -->
        </div><!--end .col -->
      </div><!--end .row -->
    </div><!--end .card -->
  </div><!--end .col -->
  <!-- END SITE ACTIVITY -->

  <!-- BEGIN SERVER STATUS -->
  <div class="col-md-3">
    <div class="card">
      <div class="card-head">
        <header class="text-primary">Temperatura Media</header>
      </div><!--end .card-head -->
      <div class="card-body height-4">
        <div class="pull-right text-center">
          <em class="text-primary">Temperatura</em>
          <br/>
          <div id="serverStatusKnob" class="knob knob-shadow knob-primary knob-body-track size-2">
            <input type="text" class="dial" data-min="0" data-max="100" data-thickness=".09" value="50" data-readOnly=true>
          </div>
        </div>
      </div><!--end .card-body -->
      <div class="card-body height-4 no-padding">
        <div class="stick-bottom-left-right">
          <div id="rickshawGraph" class="height-4" data-color1="#0aa89e" data-color2="rgba(79, 89, 89, 0.2)"></div>
        </div>
      </div><!--end .card-body -->
    </div><!--end .card -->
  </div><!--end .col -->
  <!-- END SERVER STATUS -->
</div><!--end .row -->

<div class="row">

  <!-- BEGIN TODOS -->
  <div class="col-md-3">
    <div class="card ">
      <div class="card-head">
        <header>Tarefas para hoje</header>
        <div class="tools">
          <a class="btn btn-icon-toggle btn-close"><%= material_icon.close.md_18 %></a>
        </div>
      </div><!--end .card-head -->
      <div class="card-body no-padding height-9 scroll">
        <ul class="list" data-sortable="true">
          <li class="tile">
            <div class="checkbox checkbox-styled tile-text">
              <label>
                <input type="checkbox" checked>
                <span>Ligar para fornecedores</span>
              </label>
            </div>
            <a class="btn btn-flat ink-reaction btn-default">
              <%= material_icon.delete %>
            </a>
          </li>
          <li class="tile">
            <div class="checkbox checkbox-styled tile-text">
              <label>
                <input type="checkbox">
                <span>
                  Reunião
                  <small>Funcionários</small>
                </span>
              </label>
            </div>
            <a class="btn btn-flat ink-reaction btn-default">
              <%= material_icon.delete %>
            </a>
          </li>
          <li class="tile">
            <div class="checkbox checkbox-styled tile-text">
              <label>
                <input type="checkbox">
                <span>
                  Verificar histórico semanal
                  <small>Os relatórios da última semana estão prontos para avaliação</small>
                </span>
              </label>
            </div>
            <a class="btn btn-flat ink-reaction btn-default">
              <%= material_icon.delete %>
            </a>
          </li>
          <li class="tile">
            <div class="checkbox checkbox-styled tile-text">
              <label>
                <input type="checkbox">
                <span>Verificar e-mail do SANAR</span>
              </label>
            </div>
            <a class="btn btn-flat ink-reaction btn-default">
              <%= material_icon.delete %>
            </a>
          </li>
          <li class="tile">
            <div class="checkbox checkbox-styled tile-text">
              <label>
                <input type="checkbox">
                <span>Forward important tasks</span>
              </label>
            </div>
            <a class="btn btn-flat ink-reaction btn-default">
              <%= material_icon.delete %>
            </a>
          </li>
          <li class="tile">
            <div class="checkbox checkbox-styled tile-text">
              <label>
                <input type="checkbox">
                <span>Forward important tasks</span>
              </label>
            </div>
            <a class="btn btn-flat ink-reaction btn-default">
              <%= material_icon.delete %>
            </a>
          </li>
        </ul>
      </div><!--end .card-body -->
    </div><!--end .card -->
  </div><!--end .col -->
  <!-- END TODOS -->

  <!-- BEGIN REGISTRATION HISTORY -->
  <div class="col-md-6">
    <div class="card">
      <div class="card-head">
        <header>Historico do hectare 6</header>
        <div class="tools">
          <a class="btn btn-icon-toggle btn-refresh"><%= material_icon.refresh.md_18 %></a>
          <a class="btn btn-icon-toggle btn-collapse"><i class="fa fa-angle-down"></i></a>
          <a class="btn btn-icon-toggle btn-close"><%= material_icon.close.md_18 %></a>
        </div>
      </div><!--end .card-head -->
      <div class="card-body no-padding height-9">
        <div class="row">
          <div class="col-sm-6 hidden-xs">
            <div class="force-padding text-sm text-default-light">
              <p>
                <i class="md md-mode-comment text-primary-light"></i>
                O hectare 6 está em fase de descanso.
              </p>
            </div>
          </div><!--end .col -->
          <div class="col-sm-6">
            <div class="force-padding pull-right text-default-light">
              <h2 class="no-margin text-primary-dark"><span class="text-xxl">66.05%</span></h2>
              <i class="fa fa-caret-up text-success fa-fw"></i> Produtividade da última safra
            </div>
          </div><!--end .col -->
        </div><!--end .row -->
        <div class="stick-bottom-left-right force-padding">
          <div id="flot-registrations" class="flot height-5" data-title="Historico" data-color="#0aa89e"></div>
        </div>
      </div><!--end .card-body -->
    </div><!--end .card -->
  </div><!--end .col -->
  <!-- END REGISTRATION HISTORY -->

  <!-- BEGIN NEW REGISTRATIONS -->
  <div class="col-md-3">
    <div class="card">
      <div class="card-head">
        <header>Funcionários</header>
        <div class="tools hidden-md">
          <a class="btn btn-icon-toggle btn-close">
            <%= material_icon.close.md_18 %>
          </a>
        </div>
      </div><!--end .card-head -->
      <div class="card-body no-padding height-9 scroll">
        <ul class="list divider-full-bleed">
          <li class="tile">
            <div class="tile-content">
              <div class="tile-icon">
                <%= image_tag "avatar9.jpg" %>
              </div>
              <div class="tile-text">Ann Laurens</div>
            </div>
            <a class="btn btn-flat ink-reaction">
              <%= material_icon.block.css_class('text-default-light') %>
            </a>
          </li>
          <li class="tile">
            <div class="tile-content">
              <div class="tile-icon">
                <%= image_tag "avatar4.jpg" %>
              </div>
              <div class="tile-text">Alex Nelson</div>
            </div>
            <a class="btn btn-flat ink-reaction">
              <%= material_icon.block.css_class('text-default-light') %>
            </a>
          </li>
          <li class="tile">
            <div class="tile-content">
              <div class="tile-icon">
                <%= image_tag "avatar11.jpg" %>
              </div>
              <div class="tile-text">Mary Peterson</div>
            </div>
            <a class="btn btn-flat ink-reaction">
              <%= material_icon.block.css_class('text-default-light') %>
            </a>
          </li>
          <li class="tile">
            <div class="tile-content">
              <div class="tile-icon">
                <%= image_tag "avatar7.jpg" %>
              </div>
              <div class="tile-text">Philip Ericsson</div>
            </div>
            <a class="btn btn-flat ink-reaction">
              <%= material_icon.block.css_class('text-default-light') %>
            </a>
          </li>
          <li class="tile">
            <div class="tile-content">
              <div class="tile-icon">
                <%= image_tag "avatar8.jpg" %>
              </div>
              <div class="tile-text">Jim Peters</div>
            </div>
            <a class="btn btn-flat ink-reaction">
              <%= material_icon.block.css_class('text-default-light') %>
            </a>
          </li>
          <li class="tile">
            <div class="tile-content">
              <div class="tile-icon">
                <%= image_tag "avatar2.jpg" %>
              </div>
              <div class="tile-text">Jessica Cruise</div>
            </div>
            <a class="btn btn-flat ink-reaction">
              <%= material_icon.block.css_class('text-default-light') %>
            </a>
          </li>
        </ul>
      </div><!--end .card-body -->
    </div><!--end .card -->
  </div><!--end .col -->
  <!-- END NEW REGISTRATIONS -->
</div><!--end .row -->
